<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div class="container">
        {% if user.is_authenticated %}
            <div class="auth-container">
                <div class="user-info">
                    <h2>Dane Użytkownika</h2>
                    <p><strong>Nazwa użytkownika:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Kraj:</strong> {{ user.country }}</p>
                    <button><strong><a href="/logout/">Wyloguj</a></strong></button>
                </div>
                <div class="holiday-list">
                    <h2>Lista Świąt</h2>
                    <label>Filtry</label>
                    <form id="filters">
                        {% csrf_token %}
                        <div class="input-group">
                            <label for="month">Miesiąc</label>
                            <select id="month" name="month">
                                <option value="1">    Styczen</option>
                                <option value="2">       Luty</option>
                                <option value="3">     Marzec</option>
                                <option value="4">   Kwiecień</option>
                                <option value="5">        Maj</option>
                                <option value="6">   Czerwiec</option>
                                <option value="7">     Lipiec</option>
                                <option value="8">   Sierpień</option>
                                <option value="9">   Wrzesień</option>
                                <option value="10">Październik</option>
                                <option value="11">   Listopad</option>
                                <option value="12">   Grudzień</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <label for="country">Kraj</label>
                            <select id="country" name="country"  required>
                                <option value="">Ładowanie...</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <label for="public">Święta ustawowo wolne</label>
                            <input type="checkbox" id="public" name="public" value="true">
                        </div>
                                               
                        <button type="submit">Filtruj</button>
                    </form>
                        <ul id="holidays-list">
                        </ul>
                </div>
                <div class="holiday-list">
                    <h2>Lista Wydarzeń urzytkownika</h2>
                        <form id="addUserHoliday">
                            {% csrf_token %}
                            <div class="input-group">
                                <label for="holiday">Wydarzenie</label>
                                <input type="text" id="holiday" name="holiday" placeholder="Wprowadź wydarzenie" required>
                            </div>
                            <div class="input-group">
                                <label for="data">Data</label>
                                <input type="date" id="data" name="data" placeholder="" required>
                            </div>
                            <button type="submit">Dodaj wydarzenie</button>
                        </form>
                        <ul id="user-holidays-list">
                        </ul>
                </div>
            </div>
        {% else %}
            <div>
                <button class="button" onclick="location.href='/redirectLogin/'">Zaloguj się</button>
            </div>
            <div>
                <button class="button" onclick="location.href='/redirectRegister/'">Zarejestruj się</button>
            </div>
        {% endif %}
    </div>
    <script>
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        
        
        function loadCountries() {
            const countryDropdown = document.getElementById('country');
            const countryError = document.createElement('span');
            countryError.style.color = 'red';
            countryDropdown.parentNode.appendChild(countryError);

            return fetch("/getcountries/")
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Nie udało się pobrać listy krajów");
                    }
                    return response.json();
                })
                .then(countries => {
                    console.log(countries)
                    countryDropdown.innerHTML = ''; // Wyczyść dropdown
                    countries.forEach(country => {
                        const option = document.createElement("option");
                        option.value = country.code;
                        option.textContent = country.country;
                        if (country.country == "{{user.country}}") {
                            option.selected = true;
                        }
                        countryDropdown.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error("Błąd pobierania krajów:", error);
                    countryError.textContent = "Nie udało się załadować krajów.";
                });

                
        }

        document.getElementById('filters').addEventListener('submit', function(event) {
            event.preventDefault(); 
            loadHolidays()
        })

        function loadHolidays(){
            const country = document.getElementById('country').value;
            const public  = document.getElementById('public').checked;
            const month = document.getElementById('month').value;

            const countryData = {
                country: country,
                public: public,
                month:month,
               
            };
            
            console.log('Wysłane dane:', JSON.stringify(countryData));

            fetch('/monthHolidays/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(countryData)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Odpowiedź serwera:', data);
                const holidaysList = document.getElementById('holidays-list');
                holidaysList.innerHTML = '';
                if (data.length > 0) {
                    data.forEach(holiday => {
                        const listItem = document.createElement('li');
                        listItem.innerHTML = `<strong>${holiday.name}</strong> - ${holiday.date}`;
                        holidaysList.appendChild(listItem);
                    });
                } else {
                    holidaysList.innerHTML = '<li>Brak świąt do wyświetlenia.</li>';
                }
            })
            
            .catch(error => {
                console.error('Błąd:', error);
            });
            
        };

        document.getElementById('addUserHoliday').addEventListener('submit', function(event) {
            event.preventDefault(); 
            console.log("test");
            addUserHoliday();
            loadUserHolidays();
        })

        function addUserHoliday(){
            const date = document.getElementById('data').value;
            const name  = document.getElementById('holiday').value;

            const holidayData = {
                name: name,
                date: date,
               
            };
            
            console.log('Wysłane dane:', JSON.stringify(holidayData));

            fetch('/addUserHoliday/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(holidayData)
            })
            .then(response => response.json())
            .then(loadUserHolidays)      
            .catch(error => {
                console.error('Błąd:', error);
            });
            
        };

        function loadUserHolidays() {
            fetch("/getUserHolidays/")
                .then(response => {
                    return response.json();
                })
                .then(data => {
                console.log('Odpowiedź serwera:', data);
                const holidaysList = document.getElementById('user-holidays-list');
                holidaysList.innerHTML = '';
                if (data.length > 0) {
                    data.forEach(holiday => {
                        const listItem = document.createElement('li');
                        listItem.innerHTML = `<strong>${holiday.name}</strong> - ${holiday.date}
                                            <button class="delete-btn" data-name="${holiday.name}" data-date="${holiday.date}">Usuń</button>`;
                        holidaysList.appendChild(listItem);
                    });

                    document.querySelectorAll(".delete-btn").forEach(button => {
                        button.addEventListener("click", function () {
                            const holidayname = this.getAttribute('data-name');
                            const holidaydate = this.getAttribute('data-date');
                        deleteUserHoliday(holidayname,holidaydate);
                        });
                    });
                } 
                else {
                    holidaysList.innerHTML = '<li>Brak świąt do wyświetlenia.</li>';
                }
            })
            .catch(error => {
                console.error('Błąd:', error);
            });
        }

        

        function deleteUserHoliday(holidayname,holidaydate) {
            const holidayData = {
                name: holidayname, 
                date: holidaydate,
            };
            console.log(holidayData)
            fetch('/deleteUserHoliday/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(holidayData)
            })
            .then(response => response.json())
            .then(loadUserHolidays)   
            .catch(error => {
                console.error('Błąd:', error);
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            loadCountries().then(loadHolidays);
            loadUserHolidays();
            today = new Date()
            document.getElementById("month").value = today.getMonth()+1;
        });
    </script>
</body>
</html>
