<form method="post" action="/login/">
    {% csrf_token %}
    <textarea name="login" id="" cols="30" rows="1"></textarea>
    <textarea name="password" id="" cols="30" rows="1"></textarea>
    <input type="submit">    
</form>

<form method="post" action="register">
    {% csrf_token %}
    <textarea name="username" id="" cols="30" rows="1"></textarea>
    <textarea name="password" id="" cols="30" rows="1"></textarea>
    <textarea name="email" id="" cols="30" rows="1"></textarea>
    <input type="submit">    
</form>